[flake8]
max-line-length = 88
# don’t check these directories or files
exclude =
  .git,
  __pycache__,
  venv,
  venv/*,
  */venv/*,
  migrations,
  migrations/*,
  env,           # in case you sometimes name it "env"
  .env,
  db.sqlite3

# ignore these specific errors (e.g. to stay Black-compatible)
extend-ignore =
  E203,
  W503
