[flake8]
max-line-length = 88
exclude =
  .git,
  __pycache__,
  venv,
  venv/*,
  */venv/*,
  migrations,
  migrations/*,
  env
  .env,
  db.sqlite3

extend-ignore =
  E203
  W503
  E501
  F401
  F811
  E722
  W291
  E201
  E231
  W391 
  E303
  E304
  E302
  E301
  E122
  W293
  W292